---
layout: default
---

<article>
  {% include meta.html post=page %}
  {{ content | reading_time | toc }}
  {% if site.comments.isso_domain or site.comments.disqus_shortname %}
    <hr>
    {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
    {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
    <noscript>Please enable JavaScript to view comments.</noscript>
  {% endif %}
</article>

{% if page.series %}
<div>
  <h4>This post is part of a series: {{ page.series }}</h4>
  <ol>
    {% assign posts = site.posts | where: "series", page.series | sort: "date" %}
    {% for post in posts %}
    <li>{% if post.url == page.url %}{{ post.title }} <i>(this post)</i>{% else %}<a href="{{ post.url }}">{{ post.title }}</a>{% endif %}</li>
    {% endfor %}
  </ol>
</div>
{% endif %}

{% unless site.show_minimal or site.footer  %}
{% if page.next.url or page.previous.url %}
<footer class="nowrap {% if site.show_frame %}dark{% else %}smooth{% endif %}">
  {% if page.next.url %}<a href="{{ page.next.url | relative_url }}">« {{ page.next.title }}</a> {% endif %}
  {% if page.previous.url %} <a href="{{ page.previous.url | relative_url }}">{{ page.previous.title }} »</a>{% endif %}
</footer>
{% endif %}
{% endunless %}
